<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Damir Masic - Pjesnik</title>

    <!-- Bootstrap Core CSS -->  
    <link href="~/Vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/Styles/grayscale.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                @*<a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Start</span> Bootstrap
                </a>*@
                <a class="navbar-brand page-scroll" href="#page-top">
                    <div title="Home"><img src="~/Img/Logo2.png" /></div>                    
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Info</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Damir Mašić pjesnik</h1>
                        <p class="intro-text">Dobro došli na moju web stranicu.
                            <br>...</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>O Damiru</h2>
                <p>Damir Mašić, je rođen u Bosanskom Petrovcu 1986 godine. Nakon rastave roditelja, od 1987 godine živi i radi u gradu Bihaću. Završio je srednju elektrotehničku školu u Bihaću 2004 godine. Još kao učenik srednje škole, osnovao je osnovao rap grupu TNT koja postaje poznata na Unsko-Sanskom kantonu a i šire. Raspadom grupe 2008 godine, Damir nastavlja sa pisanjem, ali svoje radove ne objavljuje. Sredinom 2012 godine, prijavljuje se za takmičenje na <a href="https://www.facebook.com/iloveunariver/">"I love Una"</a>, za najljepšu pjesmu o rijeci Uni, ulazi u finale, i ako nije osvojio prvo mjesto, ostavlja zapažen rezultat. Nedugo poslije toga, nastavio je objavljivati svoje pjesme, sve do 2014 godine, kada je izdao i prvu svoju knjigu pod nazivom <i>"Soldat Ljubavi"</i>. Damir osvaja srca publike, i za kratko vrijeme rasprodaje sve knjige. Nedugo poslije prve, već 2015 god. izdaje svoju drugu knjigu, pod nazivom <i>"Islamska knjiga pjesama Tajna istinske Ljubavi"</i>. Bitno je napomenuti da je Damir dobio mnoga priznanja od poznatih ličnosti. Jedna od njih je i tadašnji predsjednik repubilike Hrvatske Ivo Josipović. Damir Mašić se posvetio radu u širenju dobra i ljubavi, pokazujući ono pravo lice islama, i veliko srce prosječnog Bošnjaka.</p>                
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kontaktiraj Damira Mašića</h2>
                <p>Moj rad možete i dalje pratiti na mojoj Facebook stranici</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/Izrekepjesme/?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>
    

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Damir Masic 2016</p>
        </div>
    </footer>

    <!-- jQuery -->    
    <script src="~/Vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="~/Scripts/grayscale.min.js"></script>

</body>

</html>
