@{
    ViewBag.Title = "Loggin success";
}

<head runat="server">
    <meta http-equiv="Refresh" content="3;url=/home/gallery/" />
</head>


<div id="container">
    <div class="myContent" style="width:40%;margin-left:30%">
        @if (User.Identity.IsAuthenticated)
        {
            var user = User.Identity.Name;
            <h4>@user has logged in successfully!  <i class="fa fa-check" aria-hidden="true" style="color:green"></i></h4>
        }
    </div>
</div>
