@using DamirMasic.ViewModels
@model LoginVM
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = "Login";
}

<div id="container">
    <div class="myContent mobileContent2">
        <form asp-controller="Home" asp-action="Login">
            <br />
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input asp-for="UserName" class="form-control custom loginForm" placeholder="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="input-group" style="margin-top:10px;line-height:10px">
                <br />
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input asp-for="Password" class="form-control custom loginForm" placeholder="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <br />
            <br />
            <input style="float:right" type="submit" value="Login" class="btn btn-success" data-dismiss="modal" />
        </form>
    </div>
</div>