@{
    ViewBag.Title = "Sent";
}

<head runat="server">
    <meta http-equiv="Refresh" content="3;url=/home/gallery/" />
</head>

<div id="container">
    <div class="myContent" style="width:40%;margin-left:30%">
        <h4>Your message has been sent  <i class="fa fa-check" aria-hidden="true" style="color:green"></i></h4>
    </div>
</div>
