@using DamirMasic.ViewModels
@model AddPostVM
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = "Edit post";
}


<div id="container">
    <div class="myContent mobileContent3">
        <form asp-controller="Admin" asp-action="UpdateBlogPost" method="post">
            <br />
            <label asp-for="Title"></label>
            <br />
            <input asp-for="Title" placeholder="Title" style="width:35%;" />
            <span asp-validation-for="Title"></span>
            <br /><br>
            <textarea asp-for="Text" class="tinyMCE" id="Text" name="Text" rows="5" cols="40"></textarea>
            <span asp-validation-for="Text"></span>
            <br />
            <br />
            <label asp-for="Image"></label>
            <br />
            <input asp-for="Image" placeholder="Picture link" style="width:70%;" />
            <span asp-validation-for="Image"></span>
            <br />
            <br />
            <p id="rect" style="border:1px solid gray; width:174px; height:100px; margin-left:10%"></p>
                <label asp-for="Color"></label>
                <input asp-for="Color" class="jscolor {onFineChange:'update(this)'}" value="cc66ff">
                <br />
                <br />
            <input asp-for="Id" type="hidden" value="@Model.Id" />
                <div id="button-panel">
                    <button style="float:right;margin-left:5px;" type="submit" name="command" value="submit1" class="btn btn-success"><span class="fa fa-upload" aria-hidden="true"></span> Publish</button>
                    <a href="/home/gallery/" style="float:right" class="btn btn-danger"><span class="fa fa-arrow-left" aria-hidden="true"></span> Nazad</a>
                </div>
        </form>
    </div>
</div>
