<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @* Viewport *@
    <meta name=viewport content="width=device-width, initial-scale=1">
    @* CSS *@
    <link href="~/Styles/MyStyle.css" rel="stylesheet" />
    <!-- Tab icon -->
    <link rel="icon" href="~/Img/Logo2.png">
</head>
<body>
    <div class="header"><i>Some starting text</i></div>
    <hr class="style-six">
    <div class="myContent">@RenderBody()</div>
</body>
</html>