body {
    font-size: 16px;
}

.header{
    height: 1em; 
    padding: 70px;
    padding-left:30%;   
}

/* Line  */
hr.style-six {
    /*Style 1*/
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    /*Style 2*/
    /*border: 0;
    height: 1px;
    /*position:absolute;*/
    /*width:160%;*/
    /*margin-left:-5%;*/
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));*/
}

.myContent{
    /*padding-top: 70px;*/
    /*padding-left:30%;*/   
}